# Database
POSTGRES_USERNAME=myuser
POSTGRES_PASSWORD=mypassword

# JWT
JWT_SECRET=supersecretkey
REFRESH_SECRET=anotherscretkey

# GitLab
GITLAB_TOKEN=glpat-xxxxxxxxxxxx

# PgAdmin
PGADMIN_PASSWORD=pgadminpassword