NODE_ENV=production
APP_PORT=4000
APP_NAME="CS-MJU API"
API_PREFIX=api
FRONTEND_DOMAIN="http://localhost:3000"
BACKEND_DOMAIN="http://localhost:4000"
DOMAIN=""

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=csmju
DB_SYNCHRONIZE=false
DB_MAX_CONNECTIONS=100
DB_SSL_ENABLED=false
DB_REJECT_UNAUTHORIZED=false
DB_CA=
DB_KEY=
DB_CERT=
DB_URL=

AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d